.two-columns__bref{
    color: #2F80ED;
    left: 0px;
    top: 0px;
    margin-left:  50px;
    font-size: 18px;      
    line-height: 1.2;
    max-width: 175px;
    text-decoration: none;
    font-weight: normal;
   
    
    
}